{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OcultoStudio</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <!-- Sección de inicio -->
  <header class="inicio">
    <h1>OcultoStudio</h1>
    <p>Descubre la experiencia de OcultoStudio, una aplicación móvil diseñada para llevarte al mundo de la moda única y con personalidad. 
      Explora, selecciona y adquiere prendas exclusivas con facilidad, todo desde la comodidad de tu dispositivo. 
      Vive la moda como nunca antes con nuestra plataforma intuitiva y llena de estilo.</p>
  </header>

  <main>
    <section class="galeria">
      <h2>¿Qué tenemos para ofrecer?</h2>
      <div class="galeria-contenedor">
        <div class="galeria-item">
          <h3>Catálogo de productos</h3>
          <img src="../static/img/inicio app.png" alt="Catálogo de productos" width="300">
          <p>Catálogo donde podrás ver todos los productos de manera rápida y sencilla.</p>
        </div>

        <div class="galeria-item">
          <h3>Inicio de Sesión</h3>
          <img src="../static/img/inicio sesion.png" alt="Pantalla de Inicio de Sesión" width="300">
          <p>Inicia sesión para poder ver todas tus compras y llevar una cuenta de estas.</p>
        </div>

        <div class="galeria-item">
          <h3>Registro</h3>
          <img src="../static/img/Registro.png" alt="Pantalla de Registro" width="300">
          <p>Regístrate para que no te pierdas de las últimas novedades.</p>
        </div>

        <div class="galeria-item">
          <h3>Cuenta</h3>
          <img src="../static/img/Cuenta.png" alt="Pantalla de Cuenta" width="300">
          <p>Ve toda la información de tu cuenta al instante.</p>
        </div>

        <div class="galeria-item">
          <h3>Carrito</h3>
          <img src="../static/img/Carrito.png" alt="Pantalla de Carrito" width="300">
          <p>Carrito para que puedas organizar tus productos.</p>
        </div>
      </div>
    </section>
  </main>

  <section class="download">
    <h2>Descarga la Aplicación Aquí</h2>
    <div id="download-link">
        <a href="https://github.com/Mxrttin/APK/raw/refs/heads/master/OcultoStudio.apk" class="download-button" target="_blank">
            Descargar para Móvil
        </a>
    </div>
    <div id="qr-code" style="display:none;">
        <img src="{% static '../static/img/qrcode.png' %}" alt="Código QR de la App" class="qr-code" width="400px" height="400px">
    </div>
</section>

  <footer>

  </footer>

  <script>
    function detectDevice() {
        var isMobile = /Mobi|Android/i.test(navigator.userAgent);
        if (isMobile) {
            document.getElementById('download-link').style.display = 'block';
            document.getElementById('qr-code').style.display = 'none';
        } else {
            document.getElementById('download-link').style.display = 'none';
            document.getElementById('qr-code').style.display = 'block';
        }
    }
    window.onload = detectDevice;
</script>
</body>
</html>